* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1210px;
  margin: auto;
}
.header {
  padding: 14px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 26px;
}
.seporator-header {
  border: 1px solid rgba(236, 243, 255, 1);
  margin-top: 11px;
}
.nav-phone {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 500;
}
.nav-link {
  color: rgba(93, 108, 123, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.nav-icons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.navigation {
  padding: 30px 0 40px 0;
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: rgba(40, 39, 57, 1);
  font-size: 34px;
  font-weight: 740;
  line-height: 100%;
  text-transform: uppercase;
}
.catalog-container {
  position: relative;
  display: inline-block;
}

/* Кнопка */
.menu-toggle {
  display: inline-flex;
  align-items: center;
  background-color: #6f73ee;
  color: #fff;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #5a54e6;
}

/* Иконка (три полоски) */
.menu-line-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 12px;
  margin-right: 10px;
}

.menu-line {
  width: 13px;
  height: 1px;
  background: #fff;
  border-radius: 1px;
}
.menu-line:nth-child(3) {
  width: 70%;
}
.menu-toggle-name {
  font-size: 16px;
  margin: 0;
}
/* Выпадающее меню */
.catalog-menu {
  position: absolute;
  top: 100%; /* прямо под кнопкой */
  left: 0;
  background: #6f73ee;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  min-width: 180px;
  z-index: 99;
  /* Скрыто по умолчанию */
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.catalog-menu.show {
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
}
.catalog-menu a {
  display: block;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}
.catalog-menu a:hover {
  background: #5a54e6;
}
.search-form {
  position: relative;
  width: 100%;
  max-width: 700px;
}
.search-input {
  width: 100%;
  padding: 12px 50px 12px 15px;
  border: 2px solid rgba(111, 115, 238, 1);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}
.search-input:focus {
  border-color: #4a4fff;
  box-shadow: 0 0 5px rgba(111, 115, 238, 1);
}
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(111, 115, 238, 1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  cursor: pointer;
}
.search-button:hover {
  background-color: #5b61f7;
}
.search-button .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.icon-nav {
  width: 20px;
  height: 20px;
}
.shop-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon-shop {
  width: 30px;
  height: 20px;
}
.shop-title {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
