* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1210px;
  margin: auto;
}
.header {
  padding: 14px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 26px;
}
.seporator-header {
  border: 1px solid rgba(236, 243, 255, 1);
  margin-top: 11px;
}
.nav-phone {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 500;
}
.nav-link {
  color: rgba(93, 108, 123, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.nav-icons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.navigation {
  padding: 30px 0 40px 0;
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: rgba(40, 39, 57, 1);
  font-size: 34px;
  font-weight: 740;
  line-height: 100%;
  text-transform: uppercase;
}
.catalog-container {
  position: relative;
  display: inline-block;
}

/* Кнопка */
.menu-toggle {
  display: inline-flex;
  align-items: center;
  background-color: #6f73ee;
  color: #fff;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #5a54e6;
}

/* Иконка (три полоски) */
.menu-line-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 12px;
  margin-right: 10px;
}

.menu-line {
  width: 13px;
  height: 1px;
  background: #fff;
  border-radius: 1px;
}
.menu-line:nth-child(3) {
  width: 70%;
}
.menu-toggle-name {
  font-size: 16px;
  margin: 0;
}
input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: -20px;
  left: 0;
  display: inline-block;
}
.model-form-phone {
  display: flex;
  flex-direction: column;
}
/* Выпадающее меню */
.catalog-container {
  position: relative;
  display: inline-block;
}

/* Кнопка "Каталог" */
.menu-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #737aff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.menu-toggle:hover {
  background-color: #5c63ff;
}
.menu-line-wrapp {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.menu-line {
  width: 15px;
  height: 1px;
  background-color: #fff;
  border-radius: 2px;
}
.menu-toggle-name {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
/* Выпадающее меню */
.catalog-menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 220px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 10;
}

.catalog-menu.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.catalog-menu a {
  padding: 12px 18px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.catalog-menu a:hover {
  background-color: #f0f0ff;
  color: #737aff;
}
.search-form {
  position: relative;
  width: 100%;
  max-width: 700px;
}
.search-input {
  width: 100%;
  padding: 12px 50px 12px 15px;
  border: 2px solid rgba(111, 115, 238, 1);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}
.search-input:focus {
  border-color: #4a4fff;
  box-shadow: 0 0 5px rgba(111, 115, 238, 1);
}
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(111, 115, 238, 1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
.search-button:hover {
  background-color: #5b61f7;
}
.search-button .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.icon-nav {
  width: 20px;
  height: 20px;
}
.shop-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon-shop {
  width: 30px;
  height: 20px;
}
.shop-title {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.hero {
  max-width: 1700px;
  margin: auto;
  position: relative;
  background-image: url("../img/bg-woman.png");
  background-size: cover;
  background-position: center bottom -70px;
  min-height: 445px;
  color: white;
  padding: 110px 0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 70px;
}
.hero::before {
  content: "";
  position: absolute; /* задаём дочернему элементу, для того, чтобы плашка стала на весь экран */
  background: linear-gradient(
    90deg,
    rgba(111, 115, 238, 1),
    rgba(111, 115, 238, 0) 70%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  max-width: 700px;
}
.hero-address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}
.hero-time {
  opacity: 0.7;
}
.hero-title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 55px;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 19px;
}
.hero-subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-list {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hero-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
/* фон иконки */
.hero-list-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2); /* фон полупрозрачный */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* сама иконка */
.hero-icon {
  width: 20px;
  height: 20px;
  fill: white;
}
.hero-list-title {
  max-width: 160px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.hero-button {
  padding: 15px 25px 15px 25px;
  border: 1.3px solid var(--White, rgba(255, 255, 255, 1));
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  color: rgba(111, 115, 238, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 160px;
}
.test {
  position: relative;
  padding: 70px;
  margin-bottom: 70px;
  min-height: 550px;
}
.test-image {
  margin-top: 50px;
  position: absolute;
  right: 100px;
  top: 0;
  height: 90%;
  object-fit: cover;
}
.test-descr {
  max-width: 740px;
}
.test-title {
  color: rgba(40, 39, 57, 1);
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.text-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
  color: rgba(40, 39, 57, 1);
  font-size: 18px;
  font-weight: 5400;
}
.test-subtitle {
  margin-top: 0;
  color: rgba(40, 39, 57, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 82.35%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.safety {
  position: relative;
  min-height: 550px;
}
.safety-image {
  position: absolute;
  top: 0;
  left: 0;
}
.test-descr-2 {
  max-width: 700px;
  position: absolute;
  right: 400px;
}
.cards {
  padding: 50px 0;
  margin-bottom: 80px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирует карточки по горизонтали */
  align-items: center;
  gap: 50px; /* Расстояние между карточками */
}

.card-item {
  position: relative;
  flex: 0 1 calc(50% - 50px); /* 2 карточки в строке */
  max-width: 400px; /* чтобы не растягивались слишком сильно */
  box-sizing: border-box;
}
.card-title {
  color: rgba(40, 39, 57, 1);
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 732px;
  margin: auto;
  margin-bottom: 40px;
}
.card-name {
  color: var(--Black, rgba(40, 39, 57, 1));
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
.card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.card-badge.hit {
  background-color: #ff4b4b;
}
.card-badge-icon {
  position: absolute;
  right: 10px;
  top: 18px;
}
.card-badge.new {
  background: rgba(117, 209, 74, 1);
}
.card-item {
  flex: 0 1 calc(20% - 50px);
  max-width: 400px; /* чтобы не растягивались слишком сильно */
  box-sizing: border-box;
}
.card-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.card-image-wrapper {
  background: rgba(240, 241, 245, 1);
  width: 255px;
  height: 231px;
  padding-top: 20px;
}
.card-image {
  top: 20px;
  width: 100%;
}
.card-info {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.card-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.cards-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-price {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-price-icon {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.price-icon {
  width: 20px;
  height: 20px;
}
.price-icon {
  width: 40px; /* размер иконки */
  height: 40px;
  padding: 8px; /* отступ внутри круга */
  border: 1px solid #e0e0e0; /* цвет обводки */
  border-radius: 50%; /* делает круг */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease; /* плавный эффект при наведении */
}
.price-icon:hover {
  border-color: #007bff; /* меняется цвет обводки при наведении */
}
.old-price {
  color: rgba(93, 108, 123, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  margin-bottom: 10px;
}
.new-price {
  color: rgba(40, 39, 57, 1);
  font-family: Jost;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.card-btn {
  margin-top: 1rem;
  background: rgba(111, 115, 238, 1);
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.model {
  position: relative;
  max-width: 1700px;
  margin: auto;
  margin-bottom: 100px;
}
.model-bg {
  position: relative;
  background: rgba(244, 247, 251, 1);
  min-height: 445px;
  border-radius: 20px;
}
/* Текст */
.model-title,
.model-subtitle {
  position: relative;
  z-index: 2; /* чтобы текст был поверх фона */
  color: #fff;
}
/* Картинка поверх фона */
.model-image {
  position: absolute;
  top: -95px;
  right: 200px;
  width: 440px;
  z-index: 3; /* выше фона и текста */
}
.model-content {
  padding: 80px 0;
}
.model-title {
  color: rgba(40, 39, 57, 1);
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  max-width: 700px;
  margin-bottom: 40px;
}
.model-subtitle {
  color: rgba(40, 39, 57, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.model-test-drive-form {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Верхняя часть — инпут и кнопка */
.model-form {
  position: relative;
  display: flex;
  gap: 20px;
}
.input-phone {
  flex: 1;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(234, 235, 237, 1);
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
}
.input-phone:focus {
  border-color: rgba(111, 115, 238, 1);
}
/* Кнопка */
.btn-submit {
  background: rgba(111, 115, 238, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-submit:hover {
  background: #5a64e0;
}
/* Контейнер чекбокса */
.model-form-consent {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}
/* чекбокс визуально видимый блок */
.model-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #c9cce1;
  border-radius: 6px;
  background-color: #fff;
  transition: all 0.25s ease;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  margin-top: 6px;
}
.model-checkbox:hover {
  border-color: #5c7cfa;
}
/* активное состояние */
.model-checkbox:checked {
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}
/* текст справа */
.checkbox-text {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.checkbox-text a {
  color: rgba(40, 39, 57, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(40, 39, 57, 1);
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px; /* расстояние между текстом и формой */
  background-color: rgba(111, 115, 238, 1);
  color: white;
  padding: 14px 0;
}
.subscribe-text {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscribe-form input {
  width: 420px;
  padding: 25px 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(111, 115, 238, 1);
  font-size: 14px;
  outline: none;
}
.subscribe-form input::placeholder {
  color: #e0e0e0;
}
.subscribe-form button {
  background-color: white;
  color: #7579ee;
  border: none;
  border-radius: 5px;
  padding: 25px 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: rgba(111, 115, 238, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.subscribe-form button:hover {
  background-color: #f0f0f0;
}
.footer {
  background: rgba(244, 247, 251, 1);
  padding-top: 47px;
}
.footer-wrapper-container {
  position: relative;
  padding-bottom: 75px;
}
.footer-wrapper-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgba(93, 108, 123, 1);
  opacity: 0.15;
}
.footer-menu-title {
  color: rgba(40, 39, 57, 1);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}
.footer-menu-link {
  color: rgba(93, 108, 123, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 30px;
}
.footer-menu-column-2 {
  columns: 2 auto;
  column-gap: 60px; /* ← расстояние между колонками */
}
.footer-wrapper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts-title {
  color: rgba(40, 39, 57, 1);
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}
.contacts-time {
  color: rgba(93, 108, 123, 1);
  font-size: 12px;
  font-weight: 400;
}
.contacts-tel {
  color: rgba(40, 39, 57, 1);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.footer-call {
  color: rgba(111, 115, 238, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.seporator {
  border: 1px solid v rgba(93, 108, 123, 1);
  opacity: 0.15;
  width: 1110px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer-logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgba(93, 108, 123, 1);
  opacity: 0.15;
}
.footer-logo-title {
  color: rgba(40, 39, 57, 1);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo {
  width: 151px;
  height: 45px;
}
.logo-google {
  margin-left: -180px;
}
.props {
  padding: 20px 0;
}
.props-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.props-politics {
  display: flex;
  align-items: center;
  gap: 20px;
}
.props-title {
  color: rgba(93, 108, 123, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.props-chat-title {
  color: rgba(40, 39, 57, 1);
  font-size: 14px;
  font-weight: 400;
}
.props-chat {
  display: flex;
  align-items: center;
  gap: 10px;
}
.props-container {
  display: flex;
  gap: 60px;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  padding: 60px 40px;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal-dialog {
  margin: auto;
  max-width: 790px;
  padding: 60px 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-radius: 5px;
  box-shadow: rgb(100, 100, 100);
  position: relative;
  transform: translateY(-30%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 9px;
  color: rgba(40, 39, 57, 1);
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.modal-subtitle {
  font-size: 16px;
  color: rgba(40, 39, 57, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 29px;
}
.modal-text {
  font-size: 14px;
  color: rgba(40, 39, 57, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 86px;
}
.modal-subtext {
  font-size: 12px;
  color: rgba(93, 108, 123, 1);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}
.modal-input {
  margin-bottom: 20px;
  padding: 15px 62px;
}
.btn-modal {
  margin-bottom: 16px;
  padding: 15px 67px;
}
.modal-politic a {
  color: rgba(111, 115, 238, 1);
  border: none;
}
.modal-checkbox {
  background-color: #f4f7fb;
}
.alert-img {
  width: 450px;
  height: 300px;
  border-radius: 5px;
}
.modal-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 520px;
}
.modal-alert-text {
  margin-bottom: 0;
  text-align: center;
}
/* Адаптив */
@media (max-width: 1700px) {
  html {
    font-size: 13px;
  }
  .hero {
    max-width: 1450px;
  }
  .test-image {
    height: 70%;
  }
  .test-descr-2 {
    right: 100px;
  }
}
@media (max-width: 1460px) {
  .hero {
    max-width: 1200px;
    background-image: none;
    padding: 50px;
  }
  .hero::before {
    content: "";
    position: absolute; /* задаём дочернему элементу, для того, чтобы плашка стала на весь экран */
    background: rgba(111, 115, 238, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .test-image {
    display: none;
  }
  .safety-image {
    display: none;
  }
  .subscribe {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 1200px) {
  .hero {
    max-width: 992px;
  }
  .container {
    max-width: 992px;
  }
  .search-form {
    width: 50%;
  }
  .card-item {
    flex: 0 1 100%;
  }
  .card-image-wrapper {
    width: 400px;
  }
  .card-wrapper {
    padding-top: 100px;
  }
  .model-image {
    display: none;
  }
  .model {
    max-width: 992px;
  }
  .model-content {
    padding: 80px;
  }
  .footer-logo-title {
    font-size: 26px;
  }
  .logo {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 566px;
  }
}
